img {
    height: auto;
    width: 450px;
}

.aboutRow {
    background-image: none;
    height: 100%;
}

.about {
    margin:0;
}

.techRow {
    height: 75px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.icons {
    height: 50px;
    width: 50px;
}

.aboutMe {
    margin: auto;
    background-color:gray;
}

p {
    padding:10px;
    color: white;
}

html, body {
    font-family: 'Baskervville', serif; 
}

.myName {
    text-align: center;
}

.img1, .img2 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img1 {
    background-image: url("../../images/les-routes-sans-fin-s-39tVosv5ECI-unsplash.jpg");
    min-height: 400px;
}

.img2 {
    background-image: url("../../images/luigi-pozzoli-Db8xEYwtdWw-unsplash.jpg");
    min-height: 400px;
}