h1 {
    text-align:center;
    margin-bottom: 45px;
}

.portfolio-entry {
    background-image: none;
    height: auto;
    margin: 40px;
    padding: auto;
    background-color:white;
    font-size: large;
}

.desc-block {
    margin:auto;
}

.placeholder {
    width: 200px;
    height: 200px;
}

.description {
    color: black;
}

hr {
    width: 75%;
}
