.welcome {
    padding-top: 10px;
    justify-content: center;
    display:flex;
    font-family: 'Baskervville', serif;
    font-size: xx-large;
}

.home, .row {
    height: 100vh;
}

img {
    display: flex;
    margin: auto;
}

.me {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.name {
    color: white;
    width: 100%;
    font-family: 'Baskervville', serif;

}

.black {
    background-image: url("../../../src/images/annie-spratt-BG7zPlBD0m4-unsplash.jpg");
    background-size:cover;  
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.row {
    background-image: url("../../../src/images/max-zhiltsov-euG6lXwg1PE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}